.app {
	min-height: 100%;
	position: relative;
	background-color: color(light-gray);
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

.body {
	background-color: color(light-gray);
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	.is-navigating & {
		overflow: hidden;
	}
}

.poster {
	@include darken-overlay;
	z-index: -1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;

	img {
		flex-shrink: 0;
		min-width: 100%;
		min-height: 100%;
	}
}

.header {
	@include clearfix;
	position: relative;
	z-index: 1;
	position: absolute;
	width: 100%;

	> .lockup {
		float: left;
		padding: 1em;
		cursor: pointer;

		@include breakpoint {
			padding: 2em;
		}
	}

	> .menu-toggle {
		float: right;
		padding: 1em;
		cursor: pointer;
	}
}
