.app {
	min-height: 100%;
	position: relative;
	background-color: color(white);
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;

	@include breakpoint {
		overflow: hidden;
	}
}

.body {
	background-color: color(white);
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	perspective: 1000px;

	@include breakpoint {
		background-color: color(black);
	}

	.is-navigating & {
		overflow: hidden;
	}

	.is-reading & {
		background-color: color(white);

		@include breakpoint {
			background-color: color(black);
		}
	}
}

.handler {
	background-color: color(white);
	opacity: 0;
	transition: opacity 300ms 400ms;

	@include breakpoint {
		position: absolute;
		margin-top: 0;
		width: 50%;
		height: 100%;
		overflow-x: hidden;
		overflow-y: scroll;
		right: 0;
		top: 0;
		opacity: 1;
		transition: transform 300ms;
		transform: translate3d(100%, 0, 0);
		z-index: 200;
	}

	.is-reading & {
		opacity: 1;
		margin-top: $poster-reading-height;

		@include breakpoint {
			margin-top: 0;
			transform: translate3d(0, 0, 0);
		}
	}
}

.poster {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	opacity: 1;
	transition: height 300ms, opacity 300ms;
	transform: translate3d(0, 0, 0);

	@include breakpoint {
		height: 100% !important;
		opacity: 1;
		transform-style: preserve-3d;
		transition: opacity 300ms, transform 300ms;
	}

	.is-reading & {
		height: $poster-reading-height;
		transition: height 300ms;

		@include breakpoint {
			z-index: 0;
			transform: translate3d(0, 0, 0);
			transition: opacity 300ms;
		}
	}

	&.is-loading {
		opacity: 0.3;

		@include breakpoint {
			transform: translate3d(0, 0.6em, -0.875em);
			transition: opacity 300ms, transform 300ms;

			.is-reading & {
				transform: none;
				transition: opacity 300ms;
			}
		}
	}

	.imageloader {
		width: 100%;
		height: 100%;

		.is-reading & {
			height: 100vh;
		}

	}

	img {
		transition: all 300ms;
		flex-shrink: 0;
		min-width: 100%;
		min-height: 100%;
		max-height: 100vh;

		@include breakpoint {
			max-height: none;
		}
	}
}

.header {
	@include clearfix;
	position: relative;
	z-index: 200;
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;

	.is-reading & {
		@include breakpoint {
			// z-index: 0;
		}
	}

	> .lockup {
		float: left;
		padding: 1em;
		cursor: pointer;

		@include breakpoint {
			padding: 2em;
		}
	}

	> .menu-toggle {
		float: right;
		padding: 1em;
		cursor: pointer;
	}
}
