.article-lead {
	@include text-shadow;
	position: relative;
	z-index: 100;
	color: color(white);
	padding: 1em;

	a {
		&,
		&:visited {
			color: color(white);
			text-decoration: none;
		}
	}
}

.article {
	position: relative;
	z-index: 100;
	margin-top: 200px;
	background-color: color(white);
	padding: 1em;
}
