.article-lead {
	@include text-shadow;
	position: absolute;
	z-index: 100;
	bottom: 0;
	left: 0;
	color: color(white);
	padding: 1em;
	z-index: 0;
	width: 100%;

	@include breakpoint {
		bottom: auto;
		bottom: 36vh;
		width: 100%;
		padding: 1em 4em;
	}

	.is-reading & {
		top: 0;
		bottom: auto;
		height: $poster-reading-height;

		@include breakpoint {
			width: 50%;
			bottom: 0;
			top: auto;
			height: auto;
			transform: none;
			padding: 2rem 3rem;
		}
	}

	.prev-next {
		display: none;
		padding-top: 1em;
		margin-top: 1em;
		border-top: 3px solid color(white);

		.is-reading & {
			@include breakpoint {
				display: block;
			}
		}
	}

	h1,
	p {
		max-width: 34em;
	}

	h1 {
		margin: 0;

		.is-reading & {
			position: absolute;
			bottom: 0;
			padding: 1rem;

			@include breakpoint {
				position: static;
				padding: 0;
			}

			a {
				cursor: default;
			}
		}
	}

	a,
	.button {
		&,
		&:visited {
			color: color(white);
			text-decoration: none;
		}
	}

	p + .button {
		.is-reading & {
			display: none;
		}
	}

	p {
		padding-bottom: 1em;
		border-bottom: 3px solid color(white);

		.is-reading & {
			display: none;
		}
	}
}

.article {
	position: relative;
	z-index: 100;
	margin-top: $poster-reading-height;
	background-color: color(white);
	padding: 1em;

	@include breakpoint {
		position: absolute;
		margin-top: 0;
		width: 50%;
		height: 100vh;
		overflow: auto;
		right: 0;
		top: 0;
		padding: 2em;
	}

	.button {
		color: color(black);
		font-weight: 600;
	}

	.hide-button {
		display: none;

		@include breakpoint {
			display: inline-block;
		}
	}

	.prev-next {
		padding-top: 1em;
		border-top: 1px solid color(light-gray);

		@include breakpoint {
			display: none;
		}
	}
}

.measure {
	max-width: 37.5em;
	margin: 0 auto;
}

.article-body {
	img {
		max-width: 100%;
		margin: 0.5em auto 1em;
	}
}

.author {
	@include clearfix;
	@include fz-s;
	position: relative;
	display: inline-block;
	color: color(gray);

	&-avatar {
		position: absolute;
		height: 100%;
		left: 0;
		top: 0;
	}

	&-details {
		background-color: color(black);
		float: left;
		padding: 0.75em;
		margin-left: 2.75em;
	}

	&-date {
		padding-left: 0.5em;
	}

	&-name {
		color: color(white);
		font-weight: 600;
		padding-right: 0.5em;
	}
}
