.article-lead {
	@include text-shadow;
	position: absolute;
	z-index: 100;
	bottom: 0;
	left: 0;
	color: color(white);
	padding: 1em;
	width: 100%;

	@include breakpoint {
		transform: translate3d(0, -34vh, 0);
		transition: transform 300ms;
		width: 50%;
		padding: 1em 4em;
		animation-name: none;
	}

	.is-reading & {
		padding: 0;

		@include breakpoint {
			bottom: 0;
			top: auto;
			height: auto;
			transform: translate3d(0, 0, 0);
			padding: 2rem 3rem;
		}
	}

	.prev-next {
		display: none;
		padding-top: 1em;
		margin-top: 1em;
		border-top: 3px solid color(white);

		.is-reading & {
			@include breakpoint {
				display: block;
			}
		}
	}

	h1,
	p {
		@include breakpoint {
			max-width: 34em;
		}
	}

	h1 {
		margin: 0;
		line-height: 1;

		.is-reading & {
			position: absolute;
			bottom: 0;
			padding: 1rem;

			@include breakpoint {
				position: static;
				padding: 0;
			}

			a {
				cursor: default;
			}
		}
	}

	a,
	.button {
		&,
		&:visited {
			color: color(white);
			text-decoration: none;
		}
	}

	&-extras {
		.is-reading & {
			display: none;
		}
	}

	p {
		padding-bottom: 1em;
		border-bottom: 3px solid color(white);
		display: block;
	}
}

.article {
	position: relative;
	z-index: 100;
	background-color: color(white);
	padding: 1em;

	@include breakpoint {
		padding: 2em;
	}

	.button,
	.button:visited {
		color: color(black);
		font-weight: 600;
	}

	.hide-button {
		display: none;

		@include breakpoint {
			display: inline-block;
		}
	}

	.prev-next {
		padding-top: 1em;
		border-top: 1px solid color(light-gray);

		@include breakpoint {
			display: none;
		}
	}
}

.article-body {
	opacity: 1;
	transform: scale(1), translateZ(0);
	transition: opacity 300ms 200ms, transform 300ms;

	.is-loading & {
		opacity: 0.1;
		transform: scale(0.98);
	}

	img {
		max-width: 100%;
		margin: 0.5em auto 1em;
	}

	a:not(.button) {
		&,
		&:visited {
			text-decoration: underline;
			color: color(orange);
		}
	}
}

.measure {
	max-width: 37.5em;
	margin: 0 auto;
}

.author {
	@include clearfix;
	@include fz-s;
	position: relative;
	display: inline-block;
	color: color(white);

	&-avatar {
		position: absolute;
		height: 100%;
		left: 0;
		top: 0;
		margin: 0 !important;
	}

	&-details {
		background-color: color(black);
		float: left;
		padding: 0.75em;
		margin-left: 2.75em;
	}

	&-date {
		padding-left: 0.5em;
	}

	&-name {
		font-weight: 600;
		padding-right: 0.5em;
	}
}
