.button {
	display: inline-block;

	&,
	&:visited {
		color: color(white);
		cursor: pointer;
		text-decoration: none;
	}

	.symbol {
		float: right;
		margin-top: 4px;
		margin-left: 0.5em;
		width: 1em;
		fill: color(orange)
	}

	&-left {
		.symbol {
			float: left;
			transform: rotate(180deg);
			margin-left: 0;
			margin-right: 0.5em;
		}
	}
}
