.container {
	min-height: 100%;
	position: relative;
	background-color: color(black);
}

.body {
	@include darken-overlay;
	background-position: center center;
	background-size: cover;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: transform 300ms;

	.is-navigating & {
		transform: translate3d(-$menu-width, 0, 0);
		overflow: hidden;
	}

	.is-reading & {
		background-position: center -25vh;

		@include breakpoint {
			background-position: -25vw center;
		}
	}
}

.header {
	@include clearfix;
	position: relative;
	z-index: 1;
	position: absolute;
	width: 100%;

	> .lockup {
		float: left;
		padding: 1em;
		cursor: pointer;

		@include breakpoint {
			padding: 2em;
		}
	}

	> .menu-toggle {
		float: right;
		padding: 1em;
		cursor: pointer;
	}
}
