.menu-toggle {
	@include breakpoint {
		display: none;
	}

	&-label {
		@include text-shadow;
		color: color(white);
		font-weight: 600;
		display: inline-block;
		vertical-align: middle;
		margin-top: -2px;
		margin-right: 1em;
	}

	.symbol {
		display: inline-block;
		vertical-align: middle;
	}
}

.menu {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 0;
	width: $menu-width;
	overflow: hidden;
	height: 100%;
	background-color: color(light-gray);

	@include breakpoint {
		z-index: 100;
		width: 100%;
		height: 10em;
		top: auto;
		bottom: 0;
		background-color: transparent;
	}

	.is-navigating & {
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}

	.is-reading & {
		@include breakpoint {
			display: none;
		}
	}

	&-list {
		list-style-type: none;
		margin: 0;
		padding: 1em;

		@include breakpoint {
			position: absolute;
			width: 100%;
			left: 0;
			bottom: 0;
			padding: 0;
			background-color: color(overlay);

			&:hover {

			}
		}
	}

	&-item {
		margin-bottom: 1.5em;
		position: relative;
		cursor: pointer;

		@include breakpoint {
			float: left;
			width: percentage(1/5);
			margin-bottom: 0;
			height: 10em;

			&:not(.is-unpublished):hover {
				box-shadow: inset 0 -3px 0 0 color(teal);

				.menu-item-image {
					display: block;
				}
			}
		}

		&:last-child {
			margin-bottom: 0;
		}

		&.is-unpublished {
			background-color: color(overlay);
			height: 10em;
			cursor: default;

			@include breakpoint {
				background-color: transparent;
			}

			.menu-item-placeholder {
				display: block;
				position: absolute;
				width: 100%;
				text-align: center;
				top: calc(50% + 4px);
				transform: translateY(-50%);

				div:last-child {
					font-size: 2em;
					line-height: 1.2;
				}
			}
		}

		&.is-selected {
			box-shadow: 0 3px 0 0 color(teal);

			@include breakpoint {
				box-shadow: inset 0 -3px 0 0 color(teal);
			}
		}
	}

	&-item-image {
		height: 8em;
		background-position: center center;
		background-size: cover;

		@include breakpoint {
			@include darken-overlay;
			position: absolute;
			width: 100%;
			height: 100%;
			display: none;
			z-index: -1;
		}
	}

	&-item-content {
		background-color: color(white);
		padding: 0.75em 1em;
		height: 5.5em;

		@include breakpoint {
			background-color: transparent;
			height: auto;
		}
	}

	&-item-title {
		color: color(black);
		text-decoration: none;
		font-weight: 700;
		line-height: 1.2;

		@include breakpoint {
			@include uppercase;
			color: color(white);
			font-weight: 400;
			position: absolute;
			padding: 1em;
			text-align: center;
			top: calc(50% + 4px);
			width: 100%;
			left: 0;
			transform: translateY(-50%);
		}
	}

	&-item-date {
		@include fz-s;
		color: color(gray);
		position: absolute;
		bottom: 0.75em;

		@include breakpoint {
			display: none;
		}
	}

	&-item-placeholder {
		@include uppercase;
		display: none;

		@include breakpoint {
			color: color(white);
		}
	}
}

.util-links {
	padding: 2em 1em 1em;
	text-align: center;

	@include breakpoint {
		position: fixed;
		top: 0;
		right: 0;
		padding: 2em;

		.is-reading & {
			right: auto;
			left: 50%;
		}
	}

	a,
	a:visited {
		@include fz-s;
		@include uppercase;
		font-weight: 600;
		color: color(gray);
		text-decoration: none;
		padding: 1em;

		@include breakpoint {
			color: color(white);
		}
	}
}
