.symbol {
	@include icon(1em);
	display: inline-block;
	vertical-align: middle;

	fill: color(white);
}

.dynamit-logo {
	width: 100px;

	@include breakpoint {
		width: 120px;
	}
}

.menu-icon {
	width: 20px;
}

.share-actions {
	width: 20px;
}
