/**
 * Color variable map
 * based on: http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
 */
$colors: (
	orange: #e95e3f,
	teal: #66bbb0,
	overlay: rgba(#242529, .1),
	black: #242529,
	white: rgb(255, 255, 255),
	gray: #737373,
	light-gray: #f3f3f3
);


@function color($color) {
    @return map-get($colors, $color);
}
