/**
 * Color variable map
 * based on: http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
 */
$colors: (
	overlay: rgba(#242529, .1),
	black: #242529,
	white: rgb(255, 255, 255)
);


@function color($color) {
    @return map-get($colors, $color);
}
